html, body, header {
  width: 100%;
  min-height: 100%; }

h1 {
  font-family: "Droid Serif", serif;
  font-size: 40px;
  color: #fff;
  text-transform: capitalize;
  text-align: center;
  font-style: italic; }

h2 {
  font-family: "Montserrat", sans-serif, sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px; }

h5 {
  font-family: "Montserrat", sans-serif, sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #333;
  text-transform: capitalize;
  text-align: center; }

a {
  text-decoration: none;
  color: initial; }
  a:hover {
    text-decoration: none; }
  a:focus {
    text-decoration: none; }

.subtitulo {
  font-family: "Droid Serif", serif;
  font-size: 16px;
  font-style: italic;
  color: #777;
  text-align: center;
  margin-bottom: 60px; }

.navbar {
  z-index: 100;
  width: 100%;
  background-color: transparent;
  padding-top: 10px; }
  .navbar.navbar-default {
    border-color: transparent !important; }
  .navbar .navbar-brand {
    font-family: "Kaushan Script", Arial, cursive;
    font-size: 24px;
    color: #FED136;
    text-transform: capitalize; }
  .navbar .navbar-toggle {
    margin-top: 10px;
    margin-right: 20px;
    background-color: rgba(255, 255, 255, 0.05);
    border-color: transparent; }
    .navbar .navbar-toggle:hover {
      background-color: rgba(255, 255, 255, 0.05); }
    .navbar .navbar-toggle:focus {
      background-color: rgba(255, 255, 255, 0.05); }
    .navbar .navbar-toggle .icon-bar {
      width: 25px;
      height: 3px;
      background-color: #FED136; }
  .navbar .navbar-nav li {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif, sans-serif;
    font-size: 16px; }
    .navbar .navbar-nav li a {
      color: #fff; }
      .navbar .navbar-nav li a:hover {
        color: #FED136;
        background-color: none; }

header {
  padding-top: 23%;
  padding-bottom: 15%;
  background-image: url(../../img/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center; }
  header p {
    font-family: "Montserrat", sans-serif, sans-serif;
    font-size: 72px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 3%; }
  header a {
    background-color: #FED136;
    border-radius: 5px;
    color: white;
    font-family: "Montserrat", sans-serif, sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 40px;
    margin: 40px auto; }
    header a:hover {
      color: #fff; }
    header a:focus {
      color: #fff; }

#footer {
  background-color: #fff;
  color: #FFF;
  border-left: 10px solid #FFF;
  border-right: 10px solid #FFF;
  padding: 20px 10px; }

section:nth-child(even) {
  background-color: #f7f7f7; }
section .container {
  padding-top: 12%;
  padding-bottom: 10%; }

/*-----------Services-----------*/
.servicios {
  text-align: center;
  margin-bottom: 40px; }
  .servicios .fa-circle {
    margin: 0 auto;
    color: #FED136; }
  .servicios p {
    font-family: "Roboto Slab", serif;
    font-size: 14px;
    color: #777;
    text-align: "center";
    margin-top: 15px; }

/*-----------Portfolio-----------*/
#portfolio {
  text-align: center; }
  #portfolio .project {
    background-color: #fff;
    padding-bottom: 15px; }
  #portfolio .portfolio-imagen {
    margin-top: 20px;
    text-align: center; }
    #portfolio .portfolio-imagen img {
      width: 100%;
      height: auto;
      margin: auto; }
  #portfolio .portfolio-proyecto {
    padding-top: 15px; }
    #portfolio .portfolio-proyecto .proyecto {
      font-family: "Roboto Slab", serif;
      font-size: 14px;
      color: #777;
      text-align: "center";
      font-style: italic;
      text-transform: capitalize; }

/*----------------------*/
/*----------------------*/
/*----------------------*/
/*----------------------*/
/*----------------------*/

/*# sourceMappingURL=main.css.map */
