-var textotimeline= "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi aperiam iure placeat. Facere rem at quas ad, pariatur quae repellat molestiae. Omnis porro molestiae, accusamus reiciendis itaque sint labore repudiandae."
-var subtitulo="Lorem ipsum dolor sit amet, consectetur."
-var detalleservicio="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda natus esse facilis repellat possimus fuga maxime libero modi incidunt."