$yellow: #FED136;
$gray: #333;
$middle-gray: #777;
$light-gray: #f7f7f7;
$black: #222;
$KaushanScript: 'Kaushan Script', Arial, cursive;
$Montserrat: 'Montserrat', sans-serif, sans-serif;
$DroidSerif: 'Droid Serif', serif;
$RobotoSlab: 'Roboto Slab', serif;
