footer {
	text-align: center;
	.col-footer {
		margin: 20px 0;
		min-height: 40px;
	}
	.credits {
		font-family: $Montserrat;
		margin-top: 20px;
	}
	.info {
		@extend .credits;
		color: $yellow;
		margin: 20px 10px;
		display: inline-block;
		&:hover {
			text-decoration: none;
			color: $yellow;
		}
	}
	@media (max-width: 991px) {
		.info {
			margin-right: 0;
		}
	}
	@media (max-width: 767px) {
		.col-footer {
			margin: 20px 0 0;
		}
		.info {
			margin-top: 0;
		}
	}
}
