
section {
	&:nth-child(even) {
		background-color: $light-gray;
	}
	.container {
		padding-top: 130px;
		padding-bottom: 100px;
	}
	@media (max-width: 767px) {
		.container {
			padding-top: 18%;
			padding-bottom: 15%;
		}
	}
}
/*-----------Services-----------*/
.servicios {
	text-align: center;
	margin-bottom: 40px;
	.fa-circle {
		margin: 0 auto;
		color: $yellow; 
	}
	p {
		@include parrafo("center");
		margin-top: 15px;
	}
	@media (max-width: 767px) {
		p {
			padding: 0 5%;
		}
	}
}

/*-----------Portfolio-----------*/
#portfolio {
	text-align: center;
	.project {
		background-color: #fff;
		padding-bottom: 15px;
	}
	.portfolio-imagen {
		margin-top: 20px;
		text-align: center;
		img {
			width: 100%;
			height: auto;
			margin: auto;
		}
	}
	.portfolio-proyecto {
		padding-top: 15px;
		.proyecto {
			@include parrafo("center");
			font-style: italic;
			text-transform: capitalize;
		}
	}
	@media (max-width: 767px) {
		.project {
			width: 55%;
			margin: 0 auto;
		}
	}
	@media (max-width: 480px) {
		.project {
			width: 90%;
		}
	}


}

/*-------------About---------*/
#timeline {
	position: relative;
	padding: 30px 0;
	margin: {
		top: 10px;
		bottom: 10px;
	}
}
.timeline-block {
	@include clearfix;
	position: relative;
	padding-bottom: 100px;
	min-height: 180px;
	&::before {
		content: "";
		position: absolute;
		left: 50%;
		top: 0;
		bottom: 0;
		height: 100%;
		margin-left: -1.5px;
		border: 1px solid $lighter-gray;
	}
	@media (max-width: 767px) {
		padding-bottom: 50px;
		&::before {
			content: "";
			position: absolute;
			left: 60px;
			top: 0;
			bottom: 0;
			height: 100%;
			margin-left: -1.5px;
			border: 1px solid $lighter-gray;

		}
	}
	.timeline-img {
		position: absolute;
		left: 42%;
		left: -moz-calc(50% - 85px);
		left: -webkit-calc(50% - 85px);
		left: calc(50% - 85px);
		width: 170px;
		height: 170px;
		border-radius: 100%;
		border: 7px solid $lighter-gray;
		background-color: $yellow;
		img {
			position: relative;
			display: block;
			width: 100%;
			height: auto;
		}
		.endtimeline {
			color: #fff;
			font-family: $Montserrat;
			font-size: 18px;
			font-weight: 700;
			text-align: center;
			margin: 43px auto 0;
			width: 50%;
			line-height: 1.5;
			text-transform: uppercase;

		}
		@media (max-width: 767px) {
			left: 20px;
			width: 80px;
			height: 80px;
			.endtimeline {
				font-size: 11px;
				font-weight: 400;
				line-height: 1;
				margin: 10px auto 0;
				width: 70%;
			}
		}
	}
	.timeline-content {
		position: relative;
		width: 40%;
		text-align: right;
		.fecha {
			@include titulosecundario;
			text-transform: uppercase;
			margin-bottom: 5px;
		}
		.acontecimiento {
			@include titulosecundario;
			text-transform: capitalize;
		}
		.detallesacontecimiento {
			@include parrafo(inherit);
			line-height: 1.5;
		}
	}
	&:nth-child(even) {
		.timeline-content {
			float: right;
			text-align: left;
			padding-right: 75px;
			@media (max-width: 991px) {
				width: 60%;
				padding-right: 10px;
				padding-left: 180px;	
			}
			@media (max-width: 767px) {
				float: left;
				width: 90%;
				padding-right: 10px;
				padding-left: 130px;
			}
	
		}
	}
	&:nth-child(odd) {
		.timeline-content {
			padding-left: 60px;
			padding-right: 15px;
			@media (max-width: 991px) {
				width: 60%;
				padding-right: 180px;
				padding-left: 10px;	
			}
			@media (max-width: 767px) {
				text-align: left;
				float: left;
				width: 90%;
				padding-right: 10px;
				padding-left: 130px;
			}
		}
	}
	&:last-child {
		&::before {
		content: "";
		border: none;
		}
	}

}

/*-----------Our Team-----------*/
#team {
	.nombre {
		@include titulosecundario;
		text-transform: capitalize;
		margin: 20px 0 0;
	}
	.cargo {
		@include parrafo(inherit);
	}
	.team {
		@include parrafo(center);
		font-size: 16px;
		line-height: 2;
		width: 70%;
		margin: 40px auto 0;
	}
}

/*-----------Marcas-----------*/
#marcas {
	.container {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	@media (max-width: 991px) {
		img {
			margin: 30px auto;
		}
	}
}
/*------------Contact Us----------*/
#contact {
	background-color: $black;
	background-image: url(../../img/map-image.png);
	background-repeat: no-repeat;
	background-size: cover;
	h2 {
		color: #fff;
	}
	input {
		width: 100%;
		font-family: $Montserrat;
		font-size: 14px;
		font-weight: 700;
		border-radius: 5px;
		border-color: transparent;
		padding: 20px;
		margin-bottom: 20px;
		text-align: left;
		outline: none;
	}
	textarea{
		@extend input;
		height: 232px;
	}
	.send {
		font-size: 16px;
		text-align: center;
		background-color: $yellow;
		color: #fff;
		width: 200px;
	}
	@media (max-width: 767px) {
		.col-contact {
			text-align: center;
		}
		input {
			width: 80%;
		}
	}
	@media (max-width: 480px) {
		input {
			width: 90%;
		}
	}
}
